<template>
  <div class="flex flex-col mb-4">
    <label
      for="name"
      class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600"
    >
      Search
    </label>

    <div class="relative">
      <div
        class="absolute flex border border-transparent left-0 top-0 h-full w-10"
      >
        <div
          class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full"
        >
          <font-awesome-icon icon="search" />
        </div>
      </div>

      <input
        id="name"
        v-model="searchInput"
        name="name"
        type="text"
        placeholder="Search..."
        value=""
        autocomplete="off"
        class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12"
      />
    </div>
    <div class="relative">
      <div class="absolute overflow-auto w-full h-64">
        <ul v-if="searchResults.length > 0" class="dropdown mx-auto w-full">
          <li
            v-for="(item, index) in searchResults"
            :key="index"
            class="relative rounded p-3 hover:bg-gray-100 cursor-pointer"
          >
            <div
              v-if="
                item.type_en === 'Hotel' ||
                  item.type_en === 'Hotel_Apartment' ||
                  item.type_en === 'Traditional_House' ||
                  item.type_en === 'Complex' ||
                  item.type === 'hotel'
              "
            >
              <span class="w-4 h-4 pr-2 text-gray-700">
                <font-awesome-icon icon="hotel" />
              </span>
              {{ item.name_en }}
              <span v-if="item.stars" class="w-4 h-4 pl-2">
                <font-awesome-icon
                  v-for="i in item.stars"
                  :key="i"
                  icon="star"
                  class="text-yellow-500 pl-1"
                />
              </span>
              <br />
              <span v-if="item.city_en" class="text-xs text-gray-700 pr-3">
                City: {{ item.city_en }}
              </span>
              <span v-if="item.province_fa" class="text-xs text-gray-700">
                Province: {{ item.province_fa }}
              </span>
            </div>

            <div v-else-if="item.type === 'city'">
              <span class="w-4 h-4 pr-2 text-gray-700">
                <font-awesome-icon icon="city" />
              </span>
              {{ item.name_en }}
              <br />
              <span class="text-xs text-gray-700">
                Province: {{ item.province_fa }}
              </span>
            </div>

            <div v-else>{{ item.name_en }}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    searchInput: '',
    searchResults: []
  }),
  watch: {
    // Using normal function instead of arrow function because $axios would be undefined in AF
    searchInput: _.debounce( // eslint-disable-line
      async function(value) {
        this.searchResults = [{ name_en: 'Searching...' }]
        if (value && value.length > 2) {
          const results = await this.$axios.post('/hotels/local/autocomplete', {
            text: value,
            type: 'fa'
          })
          if (results.data.result)
            this.$store.commit('search/set', results.data.result)
          else this.$store.commit('search/remove')
        } else this.$store.commit('search/remove')
        this.searchResults = this.$store.state.search.results
      },
      250,
      { maxWait: 250 }
    )
  }
}
</script>

<style>
.dropdown {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

svg {
  display: inherit;
  width: 1.125em !important;
}
</style>
