<template>
  <div class="grid px-5 pt-5">
    <div class="flex items-center justify-center flex-wrap mb-4">
      <Logo class="w-full" />
      <h1 class="title w-full">
        autocomplete-chamedon
      </h1>
    </div>
    <div
      class="flex flex-col w-full max-w-sm mx-auto p-4 border border-gray-200 bg-white shadow"
    >
      <autocomplete />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Autocomplete from '~/components/Autocomplete.vue'
import Logo from '~/components/Logo.vue'

export default Vue.extend({
  components: {
    Logo,
    Autocomplete
  }
})
</script>

<style>
.title {
  display: block;
  font-weight: 300;
  font-size: 50px;
  color: #35495e;
  letter-spacing: 1px;
  text-align: center;
}
</style>
